{% extends "layout_admin.html.twig" %}
{% set item = "categories" %}
{% block title %}Catégories : {{ categorie.libelle }}{% endblock %}


{% block breadcrumb %}
    <li><a href="{{ path('app_admin_index') }}">Administration</a></li>
    <li><a href="{{ path('app_admin_categories') }}">Catégories</a></li>
    <li class="active">{{ categorie.libelle }}</li>
    {% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-multiselect.css') }}" />
{% endblock %}

{% block contenu %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well well-ws-inc">
                <legend><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier Catégorie ({{ categorie.libelle }})</legend>
                {{ form_start(formCat,{'attr':{'class':'form-horizontal','enctype':'multipart/form-data','method':'POST','data-parsley-validate':''}}) }}
                {{ form_errors(formCat) }}

                <div class="form-group">
                    {{ form_label(formCat.libelle, "Libellé : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(formCat.libelle, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(formCat.genres, "Genres : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(formCat.genres, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(formCat.image, "Image : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        <button {% if categorie.image is null %} style="display: none;" {% endif%} class="btn btn-danger btn-sm" id="deleteImage"><i class="fa fa-trash-o" aria-hidden="true"></i> Supprimer la photo</button>
                        <button {% if categorie.image is not null %} style="display: none;" {% endif%} class="btn btn-primary btn-sm" id="bind_img"><i class='fa fa-paperclip'></i> Choisir une photo</button>
                        {{ form_widget(formCat.image, {'attr': {'style':'display: none;'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <img class="img-responsive img-thumbnail" id="show_img" {% if categorie.image is not null %} src="{{ path('app_image',{'nom':categorie.image.nom}) }}" {% endif %} />
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-sm pull-right" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i> Enregistrer</button>
                </div>
                <input type="hidden" id="check_image" name="check_image" />
                {{ form_rest(formCat) }}
                {{ form_end(formCat) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset('js/bootstrap-multiselect.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/categories_edit.js') }}"></script>
{% endblock %}