{% extends "layout_admin.html.twig" %}
{% set item = "genres" %}
{% block title %}Genres : {{ genre.libelle }}{% endblock %}


{% block breadcrumb %}
    <li><a href="{{ path('app_admin_index') }}">Administration</a></li>
    <li><a href="{{ path('app_admin_genres') }}">Genres</a></li>
    <li class="active">{{ genre.libelle }}</li>
    {% endblock %}

{% block contenu %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well well-ws-inc">
                <legend><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier Genre ({{ genre.libelle }})</legend>
                {{ form_start(formGenre,{'attr':{'class':'form-horizontal','method':'POST','data-parsley-validate':''}}) }}
                {{ form_errors(formGenre) }}

                <div class="form-group">
                    {{ form_label(formGenre.libelle, "Libellé : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(formGenre.libelle, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-sm pull-right" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i> Enregistrer</button>
                </div>
                {{ form_rest(formGenre) }}
                {{ form_end(formGenre) }}
            </div>
        </div>
    </div>
{% endblock %}

