{% extends "layout_admin.html.twig" %}
{% set item = "villes_ml" %}
{% set sousItem = "ville" %}
{% block title %}Ville : {{ ville.nom }}{% endblock %}


{% block breadcrumb %}
    <li><a href="{{ path('app_admin_index') }}">Administration</a></li>
    <li><a href="{{ path('app_admin_villes') }}">Villes</a></li>
    <li class="active">{{ ville.nom }}</li>
    {% endblock %}

{% block contenu %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well well-ws-inc">
                <legend><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier Ville ({{ ville.nom }})</legend>
                {{ form_start(formVille,{'attr':{'class':'form-horizontal','method':'POST','data-parsley-validate':''}}) }}
                {{ form_errors(formVille) }}

                <div class="form-group">
                    {{ form_label(formVille.nom, "Nom : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(formVille.nom, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-sm pull-right" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i> Enregistrer</button>
                </div>
                {{ form_rest(formVille) }}
                {{ form_end(formVille) }}
            </div>
        </div>
    </div>
{% endblock %}

